<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.BIND_VPN_SERVICE"/>

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="android.app.Application"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:exported="true" android:name="com.clement.livetools.ui.activity.SplashActivity" android:theme="@style/TransparentStatusBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 其他活動保持原樣 -->

        <service android:name="com.clement.livetools.service.MusicService"/>
        <service android:name="com.clement.livetools.service.VoiceLibraryPlayService"/>
        <service android:name="com.clement.livetools.socks5.Socks5ProxyService"/>
        <service android:exported="false" android:name="net.typeblog.socks.SocksVpnService" android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>

        <provider android:authorities="@string/app_provider" android:exported="false" android:foregroundServiceType="mediaProjection" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <provider android:authorities="com.chang.lubojl.fileProvider" android:exported="false" android:grantUriPermissions="true" android:name="com.clement.livetools.update.DownloadInstallerProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/download_install_provider_paths"/>
        </provider>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <provider android:authorities="com.chang.lubojl.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.luck.picture.lib.PictureFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureSelectorActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureSelectorWeChatStyleActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureSelectorCameraEmptyActivity" android:theme="@style/Picture.Theme.Translucent"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureCustomCameraActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PicturePreviewActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureSelectorPreviewWeChatStyleActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureVideoPlayActivity" android:screenOrientation="sensor"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureExternalPreviewActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PicturePlayAudioActivity"/>
        <activity android:name="com.yalantis.ucrop.UCropActivity" android:theme="@style/Base.Theme.NoActionBar"/>
        <activity android:name="com.yalantis.ucrop.PictureMultiCuttingActivity" android:theme="@style/Base.Theme.NoActionBar"/>

        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
    </application>
</manifest>
